@media screen and (min-width: 320px) {

  .main {
	  padding: 3% 0%;
	}

	.board {
		padding: 10% 0%;
		width: 100%;
	}

	.cards {
	  width: 20%;
	  height: 25%;
	  margin: 5px;
	  font-size: 55px;
	}

}

@media screen and (min-width: 700px) {

  .main {
	  padding: 3% 0%;
	}

	.board {
		padding: 3% 5%;
		width: 80%;
	}

	.cards {
	  width: 20%;
	  height: 20%;
	  margin: 10px;
	  font-size: 55px;
	}

}

@media screen and (min-width: 1024px) {

  .main {
	  padding: 3% 0%;
	}

	.board {
		padding: 5% 10%;
    width: 60%;
	}

	.cards {
	  width: 17%;
	  height: 20%;
	  margin: 10px;
	  font-size: 55px;
	}

}

@media screen and (min-width: 1100px) {

  .main {
	  padding: 2% 0%;
	}

	.board {
		padding: 5% 10%;
		width: 60%;
	}

	.cards {
	  width: 18%;
	  height: 30%;
	  margin: 10px;
	  font-size: 55px;
	}

}

@media screen and (min-width: 1440px) {

  .main {
	  padding: 3% 0%;
	}

	.board {
		padding: 3% 10%;
		width: 50%;
	}

	.cards {
	  width: 17%;
	  height: 50%;
	  margin: 10px;
	  font-size: 55px;
	}

}
