
:root {
  --board-color:  #fff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 1%;
}

h1 {
  color: #bd0001;
  padding: 0px;
  margin: 0px!important;
  font-family: 'Berkshire Swash', cursive;
}

.board {
  width: 60%;
  padding: 2% 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("snow.gif");
  background-size: cover;
  border: solid white 3px;
}

.cardsNoClick {
  pointer-events: none;
}

.cards {
  background-image: url("santa.png");
  background-size: contain;
  background-position: center;
  color:rgba(255,255,255,0);
  border: #fff 1px solid;
  width: 20%;
  height: 10%;
  margin: 10px;
  font-size: 70px;
  text-align: center;
  vertical-align: middle;

  cursor: pointer;
  transition-duration: 0s;
}

.cardFlipped {
  color:rgba(255,255,255,1);
  background-image: none;
  transition: .5s ease-in;
}

.button {
  background-color: #bd0001;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
