
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 2%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #bd0001;
  padding: 0px;
  margin: 0px!important;
  font-family: 'Berkshire Swash', cursive;
}

.board {
  width: 60%;
  padding: 2% 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("imgs/snow.gif");
  background-size: cover;
  border: solid white 3px;
}

.cards {
  background-image: url("imgs/santa.png");
  background-size: contain;
  background-position: center;
  color:rgba(255,255,255,0); /*Vit färg med opcity 0*/
  border: #fff 1px solid;
  width: 20%;
  height: 10%;
  margin: 10px;
  font-size: 70px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition-duration: 0s;
  user-select: none;
  -moz-user-select: none;
}

.cardFlipped {
  color:rgba(255,255,255,1); /*Vit färg med opacity 1*/
  background-image: none;
  transition: .5s ease-in;
}

.noEvents {
  pointer-events: none;
}

.button {
  background-color: #bd0001;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.won {
  background-image: url("imgs/won.gif");
  background-size: contain;
  background-position: center;
  opacity: 1;
	animation-name: fadein;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.hidden {
  opacity: 0;
  animation-name: fadeout;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
