
:root {
  --board-color:  #fff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  width: 80%;
  padding: 5% 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--board-color);
  border: solid black 3px;
}

.cards {
  background: #f6546a;
  color: #f6546a;
  border: #000 1px solid;
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 0px;
  cursor: pointer;
  transition: .5s ease-out;
}

.cardFlipped {
  color:#fff;
  font-size: 64px;
}

.cardBack{
  color: #f6546a;
  font-size: 64px;
}
